services:
  traefik:
    image: "traefik:v2.5"
    container_name: "traefik"
    network_mode: "host"
    command:
      - "--log.level=WARN"
      - "--api=true"
      - "--api.dashboard=true"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.myresolver.acme.email=${ADMIN_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--pilot.token=${TRAEFIK_PILOT_KEY}"
    labels:
      - "traefik.http.routers.traefik.rule=Host(`traefik.joegatt.net`, `traefik.joegatt.org`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=myresolver"
    environment:
      - CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL}
      - CLOUDFLARE_DNS_API_TOKEN=${CLOUDFLARE_DNS_API_TOKEN}
      - CLOUDFLARE_API_KEY=${CLOUDFLARE_API_KEY}
    ports:
      - "443:443"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  v3joegattnet:
    container_name: v3.joegatt.net
    build:
      context: ./joegatt.net-v3-html
    volumes:
      - ./joegatt.net-v3-html:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.v3joegattnet.rule=Host(`v3.joegatt.net`, `joegatt.net`, `www.joegatt.net`)"
      - "traefik.http.routers.v3joegattnet.entrypoints=websecure"
      - "traefik.http.routers.v3joegattnet.tls.certresolver=myresolver"

  # APHROCONFUSO ************************************************************
  # *************************************************************************

  v0aphroconfuso:
    container_name: v0.aphroconfuso
    build:
      context: ./aphroconfuso-v0
    volumes:
      - ./aphroconfuso-v0:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.v0aphroconfuso.rule=Host(`aphroconfuso.mt`)"
      - "traefik.http.routers.v0aphroconfuso.entrypoints=websecure"
      - "traefik.http.routers.v0aphroconfuso.tls.certresolver=myresolver"
      - "traefik.http.routers.v0aphroconfuso.middlewares=cors"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=GET,OPTIONS,PUT"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=https://newsletter.aphroconfuso.mt,https://aphroconfuso.mt"
      - "traefik.http.middlewares.cors.headers.accesscontrolmaxage=100"
      - "traefik.http.middlewares.cors.headers.addvaryheader=true"

  aphroconfusomt:
    container_name: aphroconfusomt
    build:
      context: ./aphroconfuso.mt
    volumes:
      - ./aphroconfuso.mt/site:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.aphroconfusomt.rule=Host(`v1.aphroconfuso.mt`)"
      - "traefik.http.routers.aphroconfusomt.entrypoints=websecure"
      - "traefik.http.routers.aphroconfusomt.tls.certresolver=myresolver"
      - "traefik.http.middlewares.test-auth.basicauth.users=aphroconfuso:$$2y$$05$$FzP975bQ/zWlmZraENHtK.64V6I0GmyeL7096ytqEA./EHiT6RdiC"
      - "traefik.http.routers.aphroconfusomt.middlewares=test-auth"

  eleventy:
    container_name: aphroconfuso.mt-eleventy
    build:
      context: ./aphroconfuso.mt-eleventy
    volumes:
      - ./aphroconfuso.mt-eleventy:/usr/src/app
      - ./aphroconfuso.mt-eleventy/aphroconfuso.mt/site:/usr/src/app/aphroconfuso.mt
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.eleventy.rule=Host(`eleventy.aphroconfuso.mt`)"
      - "traefik.http.routers.eleventy.entrypoints=websecure"
      - "traefik.http.routers.eleventy.tls.certresolver=myresolver"
      - "traefik.http.middlewares.test-auth.basicauth.users=aphroconfuso:$$2y$$05$$FzP975bQ/zWlmZraENHtK.64V6I0GmyeL7096ytqEA./EHiT6RdiC"
      - "traefik.http.routers.eleventy.middlewares=test-auth"

  proviaphroconfusomt:
    container_name: proviaphroconfusomt
    build:
      context: ./aphroconfuso.mt-provi
    volumes:
      - ./aphroconfuso.mt-provi/site:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.provi.rule=Host(`provi.aphroconfuso.mt`)"
      - "traefik.http.routers.provi.entrypoints=websecure"
      - "traefik.http.routers.provi.tls.certresolver=myresolver"
      - "traefik.http.middlewares.test-auth.basicauth.users=aphroconfuso:$$2y$$05$$FzP975bQ/zWlmZraENHtK.64V6I0GmyeL7096ytqEA./EHiT6RdiC"
      - "traefik.http.routers.provi.middlewares=test-auth"

  edituriaphroconfusomt:
    container_name: edituriaphroconfusomt
    build:
      context: ./aphroconfuso.mt-eleventy/aphroconfuso.mt
    volumes:
      - ./aphroconfuso.mt-eleventy/aphroconfuso.mt/site:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.edituri.rule=Host(`edituri.aphroconfuso.mt`)"
      - "traefik.http.routers.edituri.entrypoints=websecure"
      - "traefik.http.routers.edituri.tls.certresolver=myresolver"
      - "traefik.http.middlewares.test-auth.basicauth.users=aphroconfuso:$$2y$$05$$FzP975bQ/zWlmZraENHtK.64V6I0GmyeL7096ytqEA./EHiT6RdiC"
      - "traefik.http.routers.edituri.middlewares=test-auth"

  stampiaphroconfusomt:
    container_name: stampiaphroconfusomt
    build:
      context: ./aphroconfuso.mt-stampi/stampi
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stampi.rule=Host(`stampi.aphroconfuso.mt`)"
      - "traefik.http.routers.provi.entrypoints=websecure"
      - "traefik.http.routers.provi.tls.certresolver=myresolver"

  listmonk:
    container_name: listmonk
    restart: unless-stopped
    image: listmonk/listmonk:latest
    ports:
      - "9000:9000"
    environment:
      - TZ=Etc/GMT+1
    depends_on:
      - postgreslistmonk
    command:
      [
        sh,
        -c,
        "yes | ./listmonk --install --idempotent --config /listmonk/config.toml && ./listmonk --config /listmonk/config.toml --static-dir=/listmonk/static --i18n-dir=/listmonk/i18n",
      ]
    volumes:
      - ./aphroconfuso.mt-config/listmonk/config.toml:/listmonk/config.toml
      - ./aphroconfuso.mt-config/listmonk/i18n:/listmonk/i18n
      - ./aphroconfuso.mt-config/listmonk/static:/listmonk/static
      - ./aphroconfuso.mt-config/listmonk/uploads:/listmonk/uploads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.listmonk.rule=Host(`newsletter.aphroconfuso.mt`)"
      - "traefik.http.routers.listmonk.entrypoints=websecure"
      - "traefik.http.routers.listmonk.tls.certresolver=myresolver"

  postgreslistmonk:
    container_name: postgreslistmonk
    image: postgres:11
    ports:
      - "9433:5432"
    command: -p 9433
    environment:
      - POSTGRES_DB=${LISTMONK_DB}
      - POSTGRES_PASSWORD=${LISTMONK_PASSWORD}
      - POSTGRES_USER=${LISTMONK_USER}
    restart: unless-stopped
    volumes:
      - aphroconfuso.mt-v1-listmonk-data:/var/lib/postgresql/data

  matomo:
    container_name: matomo
    image: "matomo:4.14.1"
    restart: always
    volumes:
      - ./aphroconfuso.mt-config/matomo/config:/var/www/html/config
      - ./aphroconfuso.mt-config/matomo/logs:/var/www/html/logs
      - ./aphroconfuso.mt-config/matomo/misc:/var/www/html/misc/
    environment:
      - MATOMO_DATABASE_HOST=mariadbmatomo
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.matomo.rule=Host(`analitika.aphroconfuso.mt`)"
      - "traefik.http.routers.matomo.entrypoints=websecure"
      - "traefik.http.routers.matomo.tls.certresolver=myresolver"

  mariadbmatomo:
    container_name: mariadbmatomo
    image: mariadb
    command: --max-allowed-packet=64MB
    restart: always
    volumes:
      - aphroconfuso.mt-v1-matomo-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

  strapi:
    container_name: strapi
    build: ./aphroconfuso.mt-strapi/
    image: mystrapi:latest
    restart: unless-stopped
    environment:
      DATABASE_CLIENT: ${STRAPI_CLIENT}
      DATABASE_HOST: postgresstrapi
      DATABASE_NAME: ${STRAPI_DB}
      DATABASE_USERNAME: ${STRAPI_DB_USERNAME}
      DATABASE_PORT: ${STRAPI_PORT}
      JWT_SECRET: ${STRAPI_JWT_SECRET}
      ADMIN_JWT_SECRET: ${STRAPI_ADMIN_JWT_SECRET}
      DATABASE_PASSWORD: ${STRAPI_DB_PASSWORD}
      APP_KEYS: ${STRAPI_APP_KEYS}
      API_TOKEN_SALT: ${STRAPI_API_TOKEN_SALT}
      NODE_ENV: production
      MAIL_KEY: ${MAIL_KEY}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_URL: ${MAIL_URL}
    ports:
      - "1337:1337"
    depends_on:
      - postgresstrapi
    volumes:
      - ./aphroconfuso.mt-stampi/stampi:/opt/app/public/uploads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cms.rule=Host(`cms.aphroconfuso.mt`)"
      - "traefik.http.routers.cms.entrypoints=websecure"
      - "traefik.http.routers.cms.tls.certresolver=myresolver"

  postgresstrapi:
    container_name: postgresstrapi
    restart: unless-stopped
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${STRAPI_DB_USERNAME}
      POSTGRES_PASSWORD: ${STRAPI_DB_PASSWORD}
      POSTGRES_DB: ${STRAPI_DB}
    volumes:
      - aphroconfuso.mt-v1-postgresstrapi-data:/var/lib/postgresql/data
    command: -p 5437
    ports:
      - "5437:5437"

volumes:
  aphroconfuso.mt-v1-listmonk-data:
  aphroconfuso.mt-v1-matomo-data:
  aphroconfuso.mt-v1-postgresstrapi-data:
