
version: "3"
services:
  traefik:
    image: traefik
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  v3joegattnet:
    build: git@github.com:joegattnet/joegatt.net-v3-html.git
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:joegatt.net"
