version: "3"

services:
  traefik:
    image: traefik
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web

  v3joegattnet:
    container_name: v3.joegatt.net
    build: 
      context: ./joegatt.net-v3-html
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./joegatt.net-v3-html:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:joegatt.net"
    networks:
      - web
  
networks:
  web:
