version: "3.3"

services:

  traefik:
    image: "traefik:v2.3"
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  v3joegattnet:
    container_name: v3.joegatt.net
    build: 
      context: ./joegatt.net-v3-html
    volumes:
      - ./joegatt.net-v3-html:/usr/share/nginx/html
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.v3joegattnet.rule=Host(`joegatt.net`, `www.joegatt.net`, `v3.joegatt.net`)"
      - "traefik.http.routers.v3joegattnet.entrypoints=web"
      # - "traefik.http.routers.v3joegattnet.middlewares=test-replacepathregex"
      # - "traefik.http.middlewares.test-redirectregex.redirectregex.regex=^https://www.joegatt.net/(.*)"
      # - "traefik.http.middlewares.test-redirectregex.redirectregex.replacement=https://joegatt.net/$${1}"
      # - "traefik.http.middlewares.test-redirectregex.redirectregex.permanent=true"
