version: "3"

services:
  app:
    image: gcea/ssh-client
    environment:
      SSH_AUTH_SOCK: /ssh-agent/ssh-agent.sock
    volumes:
      - ssh-agent:/ssh-agent

  traefik:
    image: traefik
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  v3joegattnet:
    build: git@github.com:joegattnet/joegatt.net-v3-html.git
    labels:
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host:joegatt.net"
