name: CI

on:
  push:
    branches: [ master ]

jobs:
  update:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Repository checkout
      uses: actions/checkout@v2
    - name: Connects to VPS via SSH
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.DEPLOYER_CI_IP_ADDRESS }}
        port: ${{ secrets.DEPLOYER_CI_PORT }}
        username: ${{ secrets.DEPLOYER_CI_USER_NAME }}
        key: ${{ secrets.DEPLOYER_CI_PRIVATE_KEY }}
        passphrase: ${{ secrets.DEPLOYER_CI_PRIVATE_KEY_PASSWORD }}
        script: |
          cd joegatt.net-server
          touch bużejża917.txt
