name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: webfactory/ssh-agent@v0.4.0
        with:
            ssh-private-key: ${{ secrets.DEPLOYER_CI_PRIVATE_KEY }}      

      - uses: actions/checkout@v2

      - name: Run a multi-line script
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_HOSTNAME }}
          cd apps
          cd joegatt.net-server
          git pull
