name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Update code
      - uses: appleboy/ssh-action@master
        with:
          host: joegatt.org
          username: deployer
          key: ${{ secrets.DEPLOYER_CI_PRIVATE_KEY }}
          port: 22
          script: |
            cd apps
            cd joegatt.net-server
            git pull